/* GENERAL STYLING */

body {
  background-color: #ffc1073d;
  font-family: 'Quattrocento Sans', sans-serif;
  text-align: center;
}

img, .wrapper {
  max-width: 100%;
  margin: 0 auto;
}

.about-wrapper p,
.contact-wrapper p,
.contact-wrapper span {
  color: grey;
}


/* HEADER STYLING */

header {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

h1 {
  font-size: 2.2rem;
}

nav ul {
  padding-left: 0;
}

nav li {
  background-color: white;
  list-style: none;
  font-size: 1.25rem;
  display: block;
  margin: 0.5rem;
  padding: 0.5rem;
}


/* MAIN STYLING */

.portfolio-wrapper {
  background-color: white;
  padding: 1.5rem 0;
  /*border: 1px dotted red;*/
}

p {
  padding: 0 1rem 0.5rem 1rem;
}

.contact-wrapper {
  padding: 2.5rem 0;
  margin: 0 1.5rem;
  border-bottom: 1px solid grey;
}

.contact-wrapper span {
  padding: 0.5rem 0;
  display: block;
}

.contact-wrapper a {
  text-decoration: none;
  color: black;
}


/* FOOTER STYLING */

footer {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 1rem;
  font-weight: bold;
}

.mobile-wide {
  display: none;
}


/* MEDIA QUERIES */

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 1024px) {

}
