/* GENERAL STYLING */

* {
  box-sizing: border-box;
}

body {
  background-color: rgba(255, 193, 7, 0.23921568627450981);
  font-family: 'Quattrocento Sans', sans-serif;
  text-align: center;
}

img, .wrapper {
  max-width: 100%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  font-weight: bold;
}

.about-wrapper p,
.contact-wrapper p,
.contact-wrapper span {
  color: grey;
}


/* HEADER STYLING */

header {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  max-width: 95%;
  margin: 0 auto;
}

h1 {
  font-family: 'Tangerine', cursive;
  font-size: 3.2rem;
  color: #ff9800;
  margin-bottom: 15px;
}

nav ul {
  padding-left: 0;
}

nav li {
  background-color: rgba(255, 193, 7, 0.43137254901960786);
  list-style: none;
  font-size: 1.25rem;
  display: block;
  margin: 0.5rem;
  /*margin: 0.5rem 0;*/
  /*padding: 0.5rem;*/
  border-radius: 5%;
}

nav li a {
  display: block;
  /*background-color: red;*/
  padding: 0.5rem;
  /*border-radius: 25%;*/
}

nav li a:hover {
  background-color: rgba(255, 152, 0, 0.7);;
}


/* MAIN STYLING */

.skills-section {
  background-color: rgba(255, 193, 7, 0.43137254901960786);
  max-width: 95%;
  padding: 2rem 1rem;
  margin: 2rem auto;
}

.skills-section ul {
  padding-left: 0;
}

.skills-section li {
  list-style-position: inside;
  padding: 0.2rem;
}

.skills-section img {
  border: 2px solid #ffc107;
}

.about-wrapper img  {
  max-width: 75%;
}

.portfolio-wrapper {
  background-color: white;
  padding: 1.5rem 0;
  /*border: 1px dotted red;*/
}

p {
  padding: 0 1rem 0.5rem 1rem;
  font-size: 1.1rem;
}

.contact-wrapper {
  padding: 2.5rem 0;
  margin: 0 1.5rem;
  border-bottom: 1px solid grey;
}

.contact-wrapper span {
  padding: 0.5rem 0;
  display: block;
}

.portfolio-content {
  max-width: 95%;
  margin: 0 auto;
  /*padding: 0 1rem;*/
}


/* FOOTER STYLING */

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1rem;
  font-size: 1.1rem;
  /*font-weight: bold;*/
}

.mobile-plus {
  display: none;
}

/*.name{
  font-family: 'Tangerine', cursive;
  font-size: 2.5rem;
  color: #ff9800;
}*/


/* MEDIA QUERIES */

@media screen and (min-width: 768px) {
  nav ul {
    display: flex;
    justify-content: center;
  }
  h1 {
    font-size: 3.8rem;
    margin-bottom: 0;
  }
  nav li {
    background-color: transparent;
  }
  nav li a {
    border-radius: 25%;
  }
  .about-wrapper {
    width: 95%;
    margin: 0 auto 2rem auto;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
  }
  .about-wrapper p {
    margin-top: 0;
    margin-right: 1rem;
    text-align: left;
  }
  .about-wrapper img {
    max-width: 45%;
  }
  .portfolio-content-container {
    display: flex;
    flex-wrap: wrap;
  }
  .portfolio-content {
    max-width: 50%;
    padding: 0 1rem;
  }
  footer {
    font-size: 1.3rem;
  }
  .mobile {
    display: none;
  }
  .mobile-plus {
    display: flex;
  }
  .mobile-plus span {
    padding-left: 1rem;
  }

}

@media screen and (min-width: 1024px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  h1, nav {
    margin-top: 0;
  }
  .portfolio-wrapper {
    max-width: 95%;
    margin: 0 auto;
  }
  .about-wrapper p {
    max-width: 65%;
    padding-left: 0;
  }
  .about-wrapper img {
    margin-right: 0;
  }
  .portfolio-content {
    max-width: 33%;
  }
  footer {
    max-width: 95%;
    margin: 0 auto;
  }
  /*.mobile {
    display: none;
  }
  .mobile-plus {
    display: flex;
  }
  .mobile-plus span {
    padding-left: 1rem;
  }*/

}
