
body {
  background-color: lightgrey;
  font-family: 'Quattrocento Sans', sans-serif;
  text-align: center;
}

img, .wrapper {
  max-width: 100%;
  margin: 0 auto;
}


/*HEADER STYLING*/

header {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 2.2rem;
}

nav ul {
  padding-left: 0;
}

nav li {
  background-color: white;
  list-style: none;
  font-size: 1.25rem;
  display: block;
  margin: 0.5rem;
  padding: 0.5rem;
}
